<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>{{request.user}}</p>

<hr>
<h1> Mano užrašinė</h1>

<a href="{% url 'task-create' %}">Pridėti</a>
<table>
    <tr>
        <th>Pavadinimas</th>
        <th></th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}">Peržiūrėti</a></td>
        <td><a href="{% url 'task-update' task.id %}">Redaguoti</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Trinti</a></td>
    </tr>
    {% empty %}
    <h3>Užrašų nėra!</h3>
    {% endfor %}
</table>
</body>
</html>
